<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_app"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReserveCarWash_Mobile_Android"
        tools:targetApi="31">
        <activity
            android:name=".view.AutoClean.Profile.DetailsProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.AutoClean.InscriptionActivity"
            android:exported="false" />
        <activity
            android:name=".view.AutoClean.Profile.CarActivity"
            android:exported="false" />
        <activity
            android:name=".view.AutoClean.DetailsLavageActivity"
            android:exported="false" />
        <activity
            android:name=".view.AutoClean.AddNewCarActivity"
            android:exported="false" />
        <activity
            android:name=".view.AutoClean.CommandeStepActivity"
            android:exported="false" />
        <activity
            android:name=".view.AutoClean.PassOublieActivity"
            android:exported="false" />
        <activity
            android:name=".view.Exepxion.HomeExepxionActivity"
            android:exported="true" />
        <activity
            android:name=".view.AutoClean.HomeAutoCleanActivity"
            android:exported="true" />
        <activity
            android:name=".view.Exepxion.LoginExepxionActivity"
            android:exported="true" />
        <activity
            android:name=".view.AutoClean.LoginAutoCleanActivity"
            android:exported="true" />
        <activity
            android:name=".view.Exepxion.ExepxionActivity"
            android:exported="true" />
        <activity
            android:name=".view.AutoClean.AutoCleanActivity"
            android:exported="true" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
        <activity
            android:name=".view.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDwNGtthulsrEBnCDKhCH_ykv-4y0bzPDI" />
    </application>

</manifest>